################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
###############################################################################
/sqlconnectionTest/.vs/sqlconnectionTest/DesignTimeBuild/.dtbcache
/sqlconnectionTest/.vs/sqlconnectionTest
