################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
###############################################################################

/sqlconnectionTest/.vs/sqlconnectionTest/v15/Server/sqlite3
